<%= form_for current_user.stocks.build do |f| %>
	<%= f.search_field :symbol, placeholder: "AAPL" %>
	<%= f.submit "Search" %>
<% end %>

<!-- exclude the blank stock we're building in the form -->
<% @ws = @watched_stocks[0...-1] %>

<% if @ws_length == 0 %>
	<!-- no stocks -->
	<p>You aren't tracking any stocks yet.</p>
<% else %>
	<!-- list stocks -->
	<ul>
		<% @ws.each do |stock| %>
			<li><%= stock.symbol %></li>
		<% end %>
	</ul>
<% end %>

<script type="text/javascript">

	function addSymbolToWatchedStocks(symbol) {
		$.ajax({
			type: 'POST',
			url: '/stocks',
			data: {data: {symbol: symbol}},
			dataType: 'json',
			success: function(response) {
				// console.log("success", response);
				changeSelectedTab($('#tabs .selected'));
			},
			error: function() {

			}
		});
	}

	$('.new_stock').on('submit', function(event){
		event.preventDefault();
		
		var symbol = $('input[name="stock[symbol]"]').val();
		console.log(symbol);
		var url = buildQuery([symbol]);
		console.log(url);
		$.ajax({
			type: 'GET',
			url: url,
			dataType: 'json',
			success: function(response) {
				var stock = response.query.results.quote;

				// make sure what we got back is a stock
				if (stock.Ask != null) {
					// post it to our db and update the view (with info from Yahoo)
					addSymbolToWatchedStocks(symbol);
				}
				console.log("success", stock);
			},
			error: function() {
				console.log("error");
			}
		});
	});
</script>