<div id="map-canvas"></div>

<ul id="tabs"></ul>
<div id="sidebar-left">
	<div id="active-tab">
		<h2 id="title"></h2>
		<div id="body"></div>
	</div>
</div>

<%= javascript_include_tag 'map' %>
<%= javascript_include_tag 'yahoo-api' %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"> </script>

<script type="text/javascript">
	google.maps.event.addDomListener(window, 'load', initialize);
</script>