$("#sidebar-left").append($("<div></div>").addClass('close').html('<i class="fa fa-times"></i>'));
$("#tabs").append($("<li></li>").addClass('tab country').html('<i class="fa fa-flag"></i>'));
$("#tabs").append($("<li></li>").addClass('tab chatter').html('<i class="fa fa-comments"></i>'));
$("#tabs").append($("<li></li>").addClass('tab stocks').html('<i class="fa fa-line-chart"></i>'));
$("#tabs").append($("<li></li>").addClass('tab user').html('<i class="fa fa-user"></i>'));

// sidebar toggling

$("#sidebar-left>.close").on("click", function(){
	$(".tab").removeClass("selected")
	$("#sidebar-left").animate({"margin-left": '-=500'})
});

$(".tab").on("click", function(){
	if ($(this).hasClass("selected")){
		// slide off screen
		$(".fa", this).css({'color': $(".fa", this).css('background-color'), 'background-color': $(".fa", this).css('color')});
		$(".selected").removeClass("selected");
		$("#sidebar-left").animate({"margin-left": '-=500'})
	} else {
		$(".selected .fa").each(function(){

			var color = $(this).css('color');
			var bgColor = $(this).css('background-color');

			$(this).css({'color': bgColor, 'background-color': color })
		});

		$(".fa", this).css({'color': $(".fa", this).css('background-color'), 'background-color': $(".fa", this).css('color')});

		// slide on screen or change tabs
		$(".selected").removeClass("selected");
		$(this).addClass("selected");
		$("#sidebar-left").animate({"margin-left": '0'})
	}
});

// <- sidebar toggling

// button styling on toggle
// $(".tab .fa").on("click", function(){

// 	// revert all selected styles
	


// });