window.activeCountry = 'United States';

function changeSelectedTab(tab) {
	if (tab.hasClass('countries')) {
		updateCountriesTab();				
	} else if (tab.hasClass('country')) {
		updateCountryTab();		
	} else if (tab.hasClass('stocks')) {
		updateStocksTab();				
	} else if (tab.hasClass('chatter')) {
		updateChatterTab();				
	} else if (tab.hasClass('user')) {
		updateUserTab();				
	}
}

function updateCountriesTab(){
	var title = 'CountriesTab';
	var body = 'CountriesTab Body';

	$('#active-tab #title').html(title);
	$('#active-tab #body').html(body);
}

function updateCountryTab(){
	
	var countryName = window.activeCountry

	var country = null;

	map.data.forEach(function(feature) {
	  var featureCountryName = feature.getProperty("name");
	  if (featureCountryName == countryName) {
	  	country = feature;
	  	return;
	  }
	});

	var title = countryName;
	var table = $('<table></table>').attr('id', 'countryDataTable');

	var dailyChangeFloat = ((country.getProperty("dailyChange") - 1)).toFixed(2);
	var dailyChange = dailyChangeFloat.toString() + '%';

	table.append($('<tr></tr>').append($('<td>Daily Change</td>').addClass('key')).append($('<td></td>').html(dailyChange).css('color', country.getProperty("color"))).addClass('daily-change'));
	table.append($('<tr></tr>').append($('<td>Last Update</td>').addClass('key')).append($('<td></td>').html(country.getProperty("lastTradeTime"))).addClass('last-update'));
	table.append($('<tr></tr>').append($('<td>Last Price</td>').addClass('key')).append($('<td></td>').html(country.getProperty("price"))).addClass('last-price'));
	table.append($('<tr></tr>').append($('<td>Fund Name</td>').addClass('key')).append($('<td></td>').html(country.getProperty("symbol"))).addClass('fund-name'));
	table.append($('<tr></tr>').append($('<td>Volume</td>').addClass('key')).append($('<td></td>').html(country.getProperty("volume"))).addClass('volume'));
	table.append($('<tr></tr>').append($('<td>Year High</td>').addClass('key')).append($('<td></td>').html(country.getProperty("yearHigh"))).addClass('year-high'));
	table.append($('<tr></tr>').append($('<td>Year Low</td>').addClass('key')).append($('<td></td>').html(country.getProperty("yearLow"))).addClass('year-low'));
	table.append($('<tr></tr>').append($('<td>Daily High</td>').addClass('key')).append($('<td></td>').html(country.getProperty("dayHigh"))).addClass('daily-high'));
	table.append($('<tr></tr>').append($('<td>Daily Low</td>').addClass('key')).append($('<td></td>').html(country.getProperty("dayLow"))).addClass('daily-low'));

	// ensure the country tab is active before we update the active tab
	if (!$(".tab.country").hasClass("selected")) return false;

	$('#active-tab #title').html(title);
	$('#active-tab #body').html(table);
}

function updateStocksTab(){
	var title = 'StocksTab';
	var body = 'StocksTab Body';

	$('#active-tab #title').html(title);
	$('#active-tab #body').html(body);
}

function updateChatterTab(){
	var title = 'ChatterTab';
	var body = 'ChatterTab Body';

	$('#active-tab #title').html(title);
	$('#active-tab #body').html(body);
}

function updateUserTab(){
	var title = 'UserTab';
	var body = 'UserTab Body';

	$('#active-tab #title').html(title);
	$('#active-tab #body').html(body);
}

