// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-height: 40px;

* {
	box-sizing: border-box;
}

header {
	height: $header-height;
	list-style: none;
	line-height: $header-height / 2;
	padding: 10px;
	background: #00067c;
	li, a {
		display: inline-block;
		text-decoration: none;
		color: #fcfcfc;
		padding-right: 5px;
	}
	nav {
		float: right;
	}
}

#sidebar-left {
	position: absolute;
	top: $header-height;
	width: 350px;
	height: 100%;
	background: #333;
	overflow: hidden;
	padding: 0;

	#active-tab {
		
	}

	#tabs {
		margin: 0;
		height: 100%;
		float: left;
		list-style: none;
		padding: 0;

		li {
			font-size: 40px;
			color: #fcfcfc;

			.fa {
				padding: 10px;
				width: 100%;
				text-align: center;
			}

			.fa-comments {
				background: #2780EF;
			}

			.fa-line-chart {
				background: #5EBF60;
			}

			.fa-flag {
				background: #FD9326;
			}

			.fa-user {
				background: #FB2A3C;
			}

		}

	}

	h2 {
		color: #fcfcfc;
		text-align: center;
	}

	table {
		position: relative;
		width: 100%;
		color: #fcfcfc;

		.right {
			text-align: right;
		}
	}

}