@import 'variables';

#tabs {
	position: absolute;
	top: 0;
	width: $sidebar-tabs-width;
	height: 100%;
	z-index: 2;

	display: inline-block;
	margin: 0;
	list-style: none;
	padding: 0;
	padding-top: $header-height;
	background-color: $tab-bg-color;
	@include noselect;

	li {
		font-size: 40px;
		color: $font-color-offwhite;
		display: block;

		.fa {
			padding: 10px;
			width: 100%;
			text-align: center;
			&:hover {
				text-shadow: red 5 5px;
			}
		}

		&.countries, &.country, &.chatter, &.stocks, &.user {
			cursor: pointer;
		}

		&.tab.countries {
			color: $countries-fg-color;
			background-color: $tab-bg-color;
			@include invert($countries-fg-color, $tab-bg-color);
		}
		
		&.tab.country {
			color: $country-fg-color;
			background-color: $tab-bg-color;
			@include invert($country-fg-color, $tab-bg-color);
		}

		&.tab.chatter {
			color: $chatter-fg-color;
			background-color: $tab-bg-color;
			@include invert($chatter-fg-color, $tab-bg-color);
		}

		&.tab.stocks {
			color: $stocks-fg-color;
			background-color: $tab-bg-color;
			@include invert($stocks-fg-color, $tab-bg-color);
		}

		&.tab.user {
			color: $user-fg-color;
			background-color: $tab-bg-color;
			@include invert($user-fg-color, $tab-bg-color);
		}

	}
}

#sidebar-left {
	position: fixed;
	top: $header-height;
	width: $sidebar-width;
	height: 100%;
	background: #333;
	// overflow: hidden;
	padding: 0;
	background-color: rgba(20,20,20,0.9);
	margin-left: -500px;

	&>.close {
		display: table;
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;
		width: 25px;
		height: 25px;
		vertical-align: middle;
		text-align: center;
		background-color: $sidebar-bg-color;
		color: $font-color-offwhite;
		border-radius: 5px;

		.fa {
			display: table-cell;
			vertical-align: middle;
		}
	}

	#active-tab {
		display: inline-block;
		float: right;
		width: $sidebar-width - $sidebar-tabs-width;
		height: 100%;
		padding: 10px 50px (40px + $header-height) 50px;
		overflow: auto;

		#title {

		}

		#body {
			color: $font-color-offwhite;

			#countryDataTable {
				td {
					padding: 10px 0;

					&.key {
						font-weight: bold;
					}
				}
			}

		}
	}

	h2 {
		color: $font-color-offwhite;
		text-align: center;
	}

	table {
		position: relative;
		width: 100%;
		color: $font-color-offwhite;

		.right {
			text-align: right;
		}
	}

}