@import 'variables';

html,
body,
main,
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas {
	margin-left: $sidebar-tabs-width;
}

#sidebar-left>.close {
	display: table;
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	text-align: center;
	background-color: #FB2A3C;
	color: #fcfcfc;
	border-radius: 5px;

	.fa {
		display: table-cell;
		vertical-align: middle;
	}
}

* {
	box-sizing: border-box;
}

header {
	height: $header-height;
	list-style: none;
	line-height: $header-height / 2;
	padding: 10px;
	background: #000;
	opacity: 0.8;
	li, a {
		display: inline-block;
		text-decoration: none;
		color: #fcfcfc;
		padding-right: 5px;
	}
	nav {
		float: right;
	}
}

#tabs {
	position: absolute;
	top: $header-height;
	width: $sidebar-tabs-width;
	z-index: 2;

	display: inline-block;
	margin: 0;
	height: 100%;
	list-style: none;
	padding: 0;
	background-color: $tab-bg-color;

	li {
		font-size: 40px;
		color: #fcfcfc;
		display: block;

		.fa {
			padding: 10px;
			width: 100%;
			text-align: center;
			background-color: $tab-bg-color;
		}

		&.country, &.chatter, &.stocks, &.user {
			cursor: pointer;
		}
		
		&.tab.country {
			color: #FD9326;
		}

		&.tab.chatter {
			color: #2780EF;
		}

		&.tab.stocks {
			color: #5EBF60;
		}


		&.tab.user {
			color: #FB2A3C;
		}

	}
}

#sidebar-left {
	position: absolute;
	top: $header-height;
	width: $sidebar-width;
	height: 100%;
	background: #333;
	overflow: hidden;
	padding: 0;
	background-color: rgba(20,20,20,0.9);
	margin-left: -500px;

	#active-tab {
		display: inline-block;
		float: right;
		width: $sidebar-width - $sidebar-tabs-width;
		height: 100%;
		padding: 10px 40px 20px 40px;
	}

	h2 {
		color: #fcfcfc;
		text-align: center;
	}

	table {
		position: relative;
		width: 100%;
		color: #fcfcfc;

		.right {
			text-align: right;
		}
	}

}